{{define "title"}}AddBatch{{end}}

{{define "body"}}
<div class="container">

</div>

<div class="table-responsive">
    <table class="table">
        <caption class="h1">Batch Information</caption>
        <thead>
            <tr>
                <th>phone model</th>
                 <th>batch number</th>
            </tr>
        </thead>
         <tbody>
            <tr>
                <td>123</td>
                <td>123</td>
            </tr>

        </tbody>
     </table>
</div>  
	
	
	
<form class="form-horizontal" role="form" action="addbatch.html" method="post">
	<div class="form-group">
		<label for="bnumber" class="col-sm-2 control-label">Batch Number</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="usernameValue" placeholder="please input batch number" name="bnumber">
		</div>
	</div>
	<div class="form-group">
        <label for="pmodel" class="col-sm-2 control-label">Phone Model</label>
        <div class="col-sm-10">
                    <select class= "form-control"name="pmodel">
                        <option value="Aphone">Aphone</option>
                        <option value="Xphone">Xphone</option>
                        </select>
        </div>
    </div>
	<div class="form-group">
		<label for="channellist" class="col-sm-2 control-label">Channel</label>
		<div class="col-sm-10">
					<select class= "form-control" name="suppliertype">
						<option value="battery">Battery</option>
						<option value="display">Display</option>
						<option value="cpu"s>Cpu</option>
						<option value="assembly">Assembly</option>
						<option value="logistics">Logistics</option>
						<option value="sales">Sales</option>
      				</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="hidden" name="submitted" value="true">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
{{end}}