{{define "title"}}Home{{end}} {{define "body"}}
<div class="container">
    <div class="text-center page-header">
        <h3 class="active">Home</h3>
    </div>
    <!--
<div class="table-responsive">
    <table class="table">
        <caption class="h1">SupplierInfo</caption>
        <thead>
            <tr>
                <th>Company Name</th>
                 <th>Company Location</th>
            </tr>
        </thead>
         <tbody>
            {{range $info := .SupplierInfo}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Location}}</td>
            </tr>
            {{end}}
        </tbody>
     </table>
</div>  
-->

    {{end}}