{{define "title"}}Login{{end}}

{{define "body"}}
<div class="container">

</div>
<h1>Login</h1>

<form class="form-inline" action="login.html" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="usernameValue" placeholder="enter username..." name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="passwordValue" placeholder="enter password..." name="password">
    </div>
    <select name="org">
        <option value="smartphone">Smartphone</option>
        <option value="supplier">Supplier</option>
        <option value="assembly">Assembly</option>
        <option value="logistics">Logistics</option>
        <option value="store">Store</option>
      </select>
    <input type="hidden" name="submitted" value="true">
    <button type="submit" class="btn btn-default">Send the request</button>
</form>

{{end}}